@model UpskillingMVCWebApp.Models.ProjectDto

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    @if (String.IsNullOrEmpty(Model.Description))
    {
        <p>Your project description here</p>
    }
    else
    {
        <p>@Model.Description</p>
    }
    <hr />

    <h4>Board</h4>
    <partial name="../Issues/_Board" model="Model.Issues"/>
    <p>
        <a asp-controller="Issues" asp-action="Create" asp-route-projectId="@Model.ProjectId">Create New Issue</a>
    </p>

    <h4>Details</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
